#main-header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#navigation-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#navigation-list li {
    padding: 0.15rem;
}