* {
    font-family: OpenSymbol, sans-serif;
}

body {

}

#main-header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

h1 {
    font-size: 2rem;
}

#navigation-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#navigation-list li {
    padding: 0.15rem;
}

a {
    text-decoration: none;
}